<?
  declare(strict_types=1);
  use Pion\Forms\Elements\Input\Hidden\HiddenInputElement;
  use Pion\Forms\FormInterface;
  use Pion\Spl\Types\String\Validation\DummyStringValidator;
  use Pion\Templating\Engine\EngineInterface;

  assert($form instanceof FormInterface);
  assert($engine instanceof EngineInterface);
?>
<form action="<?= $form->action()->__toString() ?>" method="<?= $form->method()->type() ?>" class="pion-form">
  <?= (new HiddenInputElement($form->name(), new DummyStringValidator()))->setValue('1')->render($engine) ?>
  <?= $form->render($engine) ?>
</form>